
.content{
    padding-top: 20px;
}
.content img {
    width: 500px;
}

textarea#id_content {
    width: 800px;
    height: 75px;
    border-radius: 5px;
}

p#text {
    font-size: 17px;
}

h3#title {
    color: #111498;
}

hr#in_content {
    border-top: 1px solid #959fc7;
}

.image {
    text-align: center;
}


strong.author {
    color: #21198e;
}

p.time {
    color: #afb2c5;
    padding-left: 90px;
}

hr#in_comment {
    border-top: 1px solid #959fc7;
    margin-left: 90px;
}

p.comment {
    margin-left: 40px;
}

.comments > h4 {
	color: #21198e;
}