{% extends "template.html" %}

{% block css %}{% endblock %}

{% block content %}
	<div class="content">
		<h1 class="title">Насчет нас</h1>
		<p>Надежда - это продукт дипломной работы. Мы собрались вместе, чтобы помощи в воссоединении пропавших людей со своими семьями. Ребенок может быть потерян, и он не может найти дорогу домой. Взрослый с проблемами психического здоровья может быть потерян, и он или она не сможет найти дорогу к своим семьям. Они томятся и страдают, а их семьи скорбят и лихорадочно ищут. Наша миссия - помочь таким потерянным детям или взрослым воссоединиться со своими семьями.<p>

		<p>Проект также содержит много недостатков, которые требуют дальнейших исследований для улучшения. Мы очень благодарены, если в будущем сможем получить помощь от частных лиц и организаций, чтобы улучшить и ввести этот продукт в действие.<p>
	</div>

{% endblock %}

{% block js %}{% endblock %}