{% extends "base.html" %}

	{% block css %}
		<link rel="stylesheet" href="css/guide1.css">
	{% endblock %}
	{% block content %}
        <div class="container content">
        	<h1>Попытаете найти потерянного родственника?</h1>
        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        			<div class="container-fluid">
        				<div class="row">
        					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        						<p>Люди теряют связь по многим причинам - аргумент, который вышел из-под контроля, переезд за границу, развод. Все эти вещи могут разорвать семью на части, а затем, когда вы захотите собрать ее воедино, вы не знаете, с чего начать. Независимо от того, почему вы потеряли связь, Genes Reunited может помочь вам найти того, кого вы ищете. Воссоединение с давно потерянными отношениями может быть эмоциональным переживанием, поэтому мы рекомендуем поговорить об этом с другом или партнером, который может поддержать вас в пути. Удачи!</p>
        					</div>
        					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        						<img src="images/family.jpg" class="img-responsive" alt="">
        					</div>
        				</div>
        				<div class="row"><h2>Что делаете</h2></div>
        				<div class="row">
        					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						<h4>Шаг 1: </h4>
        					</div>
        					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        						<p>Download our eBook - It's a free guide that’s packed with detailed advice on finding lost relatives as well as links to some professional services that may be able to help you.</p>
        					</div>
        				</div>        				
        				<div class="row">
        					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						<h4>Шаг 1: </h4>
        					</div>
        					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        						<p>Download our eBook - It's a free guide that’s packed with detailed advice on finding lost relatives as well as links to some professional services that may be able to help you.</p>
        					</div>
        				</div>        				
        				<div class="row">
        					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						<h4>Шаг 1: </h4>
        					</div>
        					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        						<p>Download our eBook - It's a free guide that’s packed with detailed advice on finding lost relatives as well as links to some professional services that may be able to help you.</p>
        					</div>
        				</div>        				
        				<div class="row">
        					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						<h4>Шаг 1: </h4>
        					</div>
        					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        						<p>Download our eBook - It's a free guide that’s packed with detailed advice on finding lost relatives as well as links to some professional services that may be able to help you.</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>  <!-- end content -->

    {% endblock %}
