{% extends "template.html" %}

{% block css %}{% endblock %}

{% block content %}
	<div class="content">
	<h1 class="title">Пытаетесь найти потерянного родственника?</h1>
	<p>Люди теряют связь по многим причинам - аргумент, который вышел из-под контроля, переезд за границу, развод. Все эти вещи могут разорвать семью на части, а затем, когда вы захотите собрать ее воедино, вы не знаете, с чего начать. Независимо от того, почему вы потеряли связь, Genes Reunited может помочь вам найти того, кого вы ищете. Воссоединение с давно потерянными отношениями может быть эмоциональным переживанием, поэтому мы рекомендуем поговорить об этом с другом или партнером, который может поддержать вас в пути. Удачи!</p>
	<p>Что делать сейчас:</p>
	<p>Шаг 1: Регистрируете на сайте <a href="/regis">здесь</a> чтобы мы знаем кого сообщать если есть новую информацию.</p>
	<p>Шаг 2: Разместите информации опропавшем человеке <a href="/post">здесь.</a> Обратите внимание, что тем больше информации чем выше возможность успеха.</p>
	<p>Шаг 3: Регулярно проверять <a href="/messages">мои сообщения.</a></p>
	</div>
{% endblock %}

{% block js %}{% endblock %}

