{% extends "template.html" %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/regis1.css' %}">
	<link rel="stylesheet" href="{% static 'css/regis2.css' %}">
	<link rel="stylesheet" href="{% static 'css/post_missing3.css' %}"> 
{% endblock %}

{% block content %} 
<div class="content">
	<div id="responsive-form" class="clearfix">
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}

<!-- 		<div class="form-row">
<div class="column-half">First Name [text* first-name]</div>
<div class="column-half">Last Name [text* last-name]</div>
</div> -->

		<div class="missing">
			<h4>Информации о пропавшем человеке:</h4>
			<p class="input"><label for="id_name">ФИО</label>{{form2.name}}</p>
			<p class="input"><label for="id_nickname">Сокрашенное имя</label>{{form2.nickname}}</p>
			<p class="input"><label for="id_birthday">День рождения</label>{{form2.birthday}}</p>
			<p class="input"><label for="id_missing_place">Где потерял</label>{{form2.missing_place}}</p>
			<p class="input"><label for="id_missing_time">Когда потерял</label>{{form2.missing_time}}</p>
			<p class="input"><label for="id_status">Состояние</label>{{form2.status}}</p>
			<div><label for="id_image">Изображение</label>{{form2.image}}</div>
		</div>

		<br>
		<div class="relative">
			<p>Кем сообщит если есть новую информацию?</p>
			<p class="input"><label for="id_fullname">ФИО</label>{{form3.fullname}}</p>
			<p class="input"><label for="id_address">Адрес</label>{{form3.address}}</p>
			<p class="input"><label for="id_telephone">Телефон</label>{{form3.telephone}}</p>
			<p class="input"><label for="id_email">Эл. почта</label>{{form3.email}}</p>
		</div>

		<div class="post">
			<p class="txtarea_input"><label for="id_text">Содержание</label>{{form1.text}}</p>
		</div>
		<input type="hidden" name='next' value='/login'>
		<input class="btn btn-primary" type="submit" value="Продолжить">
	</form>
	</div><!--end responsive-form-->

</div> <!-- end div content -->
{% endblock %}

{% block js %}
<script src="{% static 'js/post_missing1.js' %}"></script>
{% endblock %}
