{% extends "template.html" %}

{% block css %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/posts1.css' %}">
{% endblock %}

{% block content %}

	{% for post in object_list %}
		<div class="post content">
			<h3 ><a class="title" href="/post/{{post.id}}">{{post.post_type}} ({{post.id}})</a></h3>
			<p class="time">{{post.time}}</p>
			<p>{{post.text}}</p>
			<!-- <p>{{post.relative}}</p> -->
			{% for m in post.missing.all %}
				<div class="image"><img src="{{m.image.url}}" alt=""></div>
				<h5>Соотвествующие новости:</h5>
				{% for mp in m.missing_person.all %}
					<p><a href="/post/{{mp.victim.post.id}}">{{mp.victim.post.id}}</a></p>
				{% endfor %}

			{% endfor %}
			{% for v in post.victim.all %}
				<div class="image"><img src="{{v.image.url}}" alt=""></div>
				<h5>Соотвествующие новости:</h5>
				{% for vp in v.victim_person.all %}	
					<p><a href="/post/{{vp.missing_person.post.id}}">{{vp.missing_person.post.id}}</a></p>
				{% endfor %}
			{% endfor %}	
		<br>
		<br>
		</div>

	{% endfor %}


<br>
{% if page_obj.has_next %}
	<a href="{{request.path}}?page={{page_obj.next_page_number}}">Next</a>
{% endif %}

{% endblock %}

{% block js %}{% endblock %}

