{% extends "template.html" %}

{% block css %}{% endblock %}

{% block content %}
	{% if form.errors %}
        <p class="error">Lo sentimos, la combinacion de usuario y contrasena no es correcta!</p>
    {% endif %} 
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="post">
			<p><label for="">Содержание</label>{{form1.text}}</p>
		</div>
		<div class="relative">
			<p>Кого сообщим если есть ноыую информацию?</p>
			<p><label for="">ФИО</label>{{form3.fullname}}</p>
			<p><label for="">Адрес</label>{{form3.adress}}</p>
			<p><label for="">Телефон</label>{{form3.telephone}}</p>
			<p><label for="">Эл. почта</label>{{form3.email}}</p>
		</div>

		<div class="victim">
			<p>Информации о видимом человке:</p>
			<p><label for="">Где увиделся</label>{{form2.place}}</p>
			<p><label for="">Когда увиделся</label>{{form2.date}}</p>
			<p><label for="">Изображение</label>{{form2.image}}</p>
			<p><label for="">Другие информации</label>{{form2.additional_information}}</p>
		</div>
		<button type="submit" class="btn btn-primary" class="submit">Продолжать</button>
	</form>
{% endblock %}

{% block js %}{% endblock %}
