<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Надежда</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/template4.css' %}">
		{% block css %}{% endblock %}

	</head>
	<body>
		<div class="background1">
			<div class="banner" width="100%">
				<img width="100%" src="{% static 'images/banner.jpg' %}" alt="">
			</div>
			<div class="background2">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="{% static 'images/logo2.png' %}" alt=""></a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/posts">Новости</a></li>
						<li><a href="/post_missing">Найду пропавшего</a></li>
						<li><a href="/post_victim">Встречу неопознанного</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
<!-- 						<li><a href="/train">Train</a></li>
<li><a href="/delete">Delete</a></li> -->
						{% if user.username %}
							<li><a href="/mypost">Мои сообщения</a></li>
							<li><p>{{ user.username }}</p></li>
							<li><a href="{% url 'logout' %}">Выйти</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Войти</a></li>
							<li><a href="/regis">Регистрация</a></li>
						{% endif %}
						<!-- <li class="login"><a href="#">Войти</a></li> -->
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>


		<div class="container body">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
					{% block content %}{% endblock %}
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 maxim">
					<!-- {% load staticfiles %} -->
					<img src="{% static 'images/family3.jpg' %}" class="img-responsive" alt=""><br>
					<p>Есть место, куда возвращаемся, это дом.</p><br>
					<p>Есть люди, которых любим, это семья.</p><br>
					<p>Есть оба, это счастье.</p><br>
					<p>Мы рады что можем помочь кому-то обрести свое счастье.</p>
				</div>
			</div><!-- end main row -->
		</div> <!-- end container body -->
	    </div> <!-- end background2 -->
	    </div> <!-- end background1 -->

	    <footer>
			<div class="bar">
			    <div class="bar-wrap">
			        <ul class="links">
			            <li><a href="/">Home</a></li>
			            <li><a href="#">Contact Us</a></li>
			            <li><a href="/about">About Us</a></li>
			        </ul>
			 		
			        <div class="social">
			            <a href="#" class="fb">
							<!-- <i class="fa fa-facebook"  class="icon"></i> -->
			                <span  class="icon fa fa-facebook"></span>
			                <span class="info">
			                    <span class="follow">Become a fan Facebook</span>
			                    <span class="num">9,999</span>
			                </span>
			            </a>
			 
			            <a href="#" class="tw">
			                <span class="icon fa fa-twitter"></span>
			                <span class="info">
			                    <span class="follow">Follow us Twitter</span>
			                    <span class="num">9,999</span>
			                </span>
			            </a>
			 
			            <a href="#" class="rss">
			                <span class="icon fa fa-vk"></span>
			                <span class="info">
			                    <span class="follow">Subscribe VK</span>
			                    <span class="num">9,999</span>
			                </span>
			            </a>
			        </div>
			        <div class="clear"></div>
			        <div class="copyright">Made by Susu</div>
			    </div>
			</div>
	    </footer>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- <script src="{% static 'js/template1.js' %}"></script> -->
		{% block js %}{% endblock %}
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	
	
	</body>
</html>